<template>
<div>

        <!--right panel-->
        <div class="right_panel">
            <ul>
                <li class="settlement" @click="setPopUpWindow('settle')"></li>
                <!-- <li class="change_table"></li> -->
                <li class="records" @click="setPopUpWindow('record')"></li>
                <li class="quit" @click="setPopUpWindow('quit')"></li>
                <li class="help" @click="setPopUpWindow('guide')"></li>
                <li class="config" @click="setPopUpWindow('config')"></li>
            </ul>
        </div>

        <!--popup-->
        <!--settle-->
        <div class="popup_wrapper" v-if="popupShow=='settle'">
            <div class="popup_mask" @click="popupShow=''"></div>
            <div class="popup settlement">
                <div class="popup_label">
                    <span class="popup_header"></span>
                </div>
                <div class="popup_close" @click="popupShow=''"></div>
                <div class="popup_container">
                    <div class="coin_block type_01">
                        <div class="coin_amount">1,000,000</div>
                    </div>
                    <div class="coin_block type_02">
                        <div class="coin_amount">100,000</div>
                    </div>
                    <div class="coin_block type_03">
                        <div class="coin_amount">100,000</div>
                    </div>
                    <div class="coin_block type_04">
                        <div class="coin_amount">100,000</div>
                    </div>
                </div>
                <div class="popup_btn_wrapper">
                    <div class="popup_btn back" @click="popupShow=''"></div>
                    <div class="popup_btn check"></div>
                </div>
            </div>
        </div>
        <!--record-->
        <div class="popup_wrapper" v-if="popupShow=='record'">
            <div class="popup_mask" @click="popupShow=''"></div>
            <div class="popup records">
                <div class="popup_label">
                    <span class="popup_header"></span>
                </div>
                <div class="popup_close" @click="popupShow=''"></div>
                <div class="popup_container">

                    <div class="parent_table">
                        <div class="duration_tabs">
                            <div v-bind:class="['tabs_btn',recordsTabAllowed== 'today' ? 'pressed' : null]" @click="recordsTabPressed('today')">
                                <p>本日</p>
                            </div>
                            <div v-bind:class="['tabs_btn',recordsTabAllowed== 'yesterday' ? 'pressed' : null]" @click="recordsTabPressed('yesterday')">
                                <p>昨日</p>
                            </div>
                            <div v-bind:class="['tabs_btn',recordsTabAllowed== 'week' ? 'pressed' : null]" @click="recordsTabPressed('week')">
                                <p>本週</p>
                            </div>
                            <div v-bind:class="['tabs_btn',recordsTabAllowed== 'month' ? 'pressed' : null]" @click="recordsTabPressed('month')">
                                <p>本月</p>
                            </div>
                        </div>
                        <div class="records_table">
                            <div class="thead">
                                <div class="inner">
                                    <div class="th flex_2">ID</div>
                                    <div class="th flex_2">日期</div>
                                    <div class="th flex_1">注單</div>
                                    <div class="th flex_3">開獎結果</div>
                                    <div class="th flex_2">下注金額</div>
                                    <div class="th flex_2">獲得點數</div>
                                    <div class="th flex_1">狀態</div>
                                </div>
                            </div>
                            <div class="tbody">
                                <div class="tr">
                                    <div class="td flex_2">
                                        <p>N021007</p>
                                    </div>
                                    <div class="td flex_2">
                                        <p>2018/10/26 AM 11:45</p>
                                    </div>
                                    <div class="td flex_1">
                                        <div class="game_order_btn"></div>
                                    </div>
                                    <div class="td flex_3">
                                        <!--文字類型以<p>包起來，牌型請使用<div class="result_img">-->
                                        <div class="result_img">
                                            <img src="/images/poker_card/records_thumb/1F0AA.svg">
                                            <img src="/images/poker_card/records_thumb/1F0AB.svg">
                                            <img src="/images/poker_card/records_thumb/1F0AD.svg">
                                            <img src="/images/poker_card/records_thumb/1F0AE.svg">
                                            <img src="/images/poker_card/records_thumb/1F0A1.svg">
                                        </div>
                                    </div>
                                    <div class="td flex_2">
                                        <p>200</p>
                                    </div>
                                    <div class="td flex_2">
                                        <p>+1200</p>
                                    </div>
                                    <div class="td flex_1">
                                        <p>Accept</p>
                                    </div>
                                </div>
                                <div class="tr">
                                    <div class="td flex_2">
                                        <p>N021007</p>
                                    </div>
                                    <div class="td flex_2">
                                        <p>2018/10/26 AM 11:45</p>
                                    </div>
                                    <div class="td flex_1">
                                        <div class="game_order_btn"></div>
                                    </div>
                                    <div class="td flex_3">
                                        <!--文字類型以<p>包起來，牌型請使用<div class="result_img">-->
                                        <!-- <div class="result_img">
                                            <img src="/images/poker_card/records_thumb/1F0AA.svg">
                                            <img src="/images/poker_card/records_thumb/1F0AB.svg">
                                            <img src="/images/poker_card/records_thumb/1F0AD.svg">
                                            <img src="/images/poker_card/records_thumb/1F0AE.svg">
                                            <img src="/images/poker_card/records_thumb/1F0A1.svg">
                                        </div> -->
                                        <p>36</p>
                                    </div>
                                    <div class="td flex_2">
                                        <p>200</p>
                                    </div>
                                    <div class="td flex_2">
                                        <p>+1200</p>
                                    </div>
                                    <div class="td flex_1">
                                        <p>Accept</p>
                                    </div>
                                </div>
                            </div>
                            <div class="table_pager">
                                <div class="current_page">
                                    <p>第 1 頁，共 10 頁</p>
                                </div>
                                <div class="pager_ui">
                                    <div class="pager_btn prev"></div>
                                    <div class="pager_btn next"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--第二層-->
                    <!-- <div class="child_table">
                <div class="bet_order_deatail">
                    <div class="order_status">
                        <div class="column custom">
                            <div class="data_row label">
                                <p>ID</p>
                            </div>
                            <div class="data_row flex_1">
                                <p>SN20017</p>
                            </div>
                            <div class="data_row label">
                                <p>日期</p>
                            </div>
                            <div class="data_row flex_2">
                                <p>2018/10/26 AM 11:45</p>
                            </div>
                        </div>
                        <div class="column custom">
                            <div class="data_row label">
                                <p>總輸贏</p>
                            </div>
                            <div class="data_row flex_1">
                                <p>+20000</p>
                            </div>
                        </div>
                    </div>
                    <div class="go_back">
                        <div class="btn"></div>
                    </div>
                </div>
                <div class="records_table">
                    <div class="thead">
                        <div class="inner">
                            <div class="th flex_1">下注金額</div>
                            <div class="th flex_1">下注內容</div>
                            <div class="th flex_1">賠率</div>
                            <div class="th flex_1">金額</div>
                        </div>
                    </div>
                    <div class="tbody">
                        <div class="tr">
                            <div class="td flex_1">
                                <p>100</p>
                            </div>
                            <div class="td flex_1">
                                <p>押注</p>
                            </div>
                            <div class="td flex_1">
                                <p>1:2</p>
                            </div>
                            <div class="td flex_1">
                                <p>＋200</p>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="td flex_1">
                                <p>10000</p>
                            </div>
                            <div class="td flex_1">
                                <p>比倍</p>
                            </div>
                            <div class="td flex_1">
                                <p>1:2</p>
                            </div>
                            <div class="td flex_1">
                                <p>＋20000</p>
                            </div>
                        </div>
                    </div>
                    <div class="table_pager">
                        <div class="current_page">
                            <p>共 2 筆記錄</p>
                        </div>
                    </div>
                </div>
            </div> -->
                </div>
            </div>
        </div>
        <!--quit-->
        <div class="popup_wrapper" v-if="popupShow=='quit'">
            <div class="popup_mask" @click="popupShow=''"></div>
            <div class="popup notice">
                <div class="popup_label">
                    <span class="popup_header"></span>
                </div>
                <div class="popup_container">
                    <p class="popup_desc light">您確定要離開遊戲?</p>
                </div>
                <div class="popup_btn_wrapper">
                    <div class="popup_btn back" @click="popupShow=''"></div>
                    <div class="popup_btn check" @click="leaveGame"></div>
                </div>
            </div>
        </div>
        <!--help-->
        <div class="popup_wrapper" v-if="popupShow=='guide'">
            <div class="popup_mask" @click="popupShow=''"></div>
            <div class="popup help">
                <div class="popup_label">
                    <span class="popup_header"></span>
                </div>
                <div class="popup_close" @click="popupShow=''"></div>
                <div class="popup_help_block">
                    <div class="popup_container">
                        <div class="help_page page_01" :class="pageClass"></div>
                    </div>
                    <div class="help_pager">
                        <div class="prev" @click="guidePrev"></div>
                        <div class="next" @click="guideNext"></div>
                        <p>{{ currentGuidePage + 1 }} / {{ len }} 頁</p>
                    </div>
                </div>
            </div>
        </div>
        <!--config-->
        <div class="popup_wrapper" v-if="popupShow=='config'">
            <div class="popup_mask" @click="popupShow=''"></div>
            <div class="popup config">
                <div class="popup_label">
                    <span class="popup_header"></span>
                </div>
                <div class="popup_close" @click="popupShow=''"></div>
                <div class="popup_container">
                    <div class="block">
                        <div class="row">
                            <p class="config_label music">音樂</p>
                        </div>
                        <div class="row">
                            <div class="config_switch" @click="musicControl"  v-bind:class="[ musicStauts ? 'turn_on' : 'turn_off']"></div>
                        </div>
                    </div>
                    <div class="block">
                        <div class="row">
                            <p class="config_label sound">音效</p>
                        </div>
                        <div class="row">
                            <div class="config_switch turn_off"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</template>


<script>
export default {
  data() {
    return {
      popupShow: "",
      recordsTabAllowed: "today",
      musicStauts: true,
    };
  },
  mounted() {
    let vm = this;
    this.$nextTick(function(){
        const axios = require('axios');
        //console.log(vm.$store.getters.getUserData);
        let access_token = vm.$cookies.get("access_token");
        axios.defaults.headers.common = {'Authorization': "Bearer " + access_token}

        
    });
  },
  methods: {
    setPopUpWindow(handler){
      this.popupShow = handler;
    },
    recordsTabPressed(handler) {
      this.recordsTabAllowed = handler;
    },
    leaveGame(){
        this.$router.push({name:"Lobby"});
        this.popupShow='';
    },
    musicControl(){
        //this.musicStauts = this.$store.getters.getBackgroundAudioStatus;
        
        
        if(this.musicStauts){
            this.$store.commit('stopBackgroundAudio');
            this.musicStauts = !this.musicStauts;
            
        }else{
            this.$store.commit('playBackgroundAudio');
            this.musicStauts = !this.musicStauts;
        }

        //this.musicStauts = this.$store.getters.getBackgroundAudioStatus;
        
        //this.musicStauts != this.musicStauts;
       
    },

  }
};
</script>
