<template>
  <div id="app">
    <portrait-help/>
    <router-view/>
  </div>
</template>
<script>
import PortraitHelp from "./components/Game/PortraitHelp";
export default {
  components:{
    PortraitHelp
  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
<style lang="scss">
@import "./assets/style/style.scss";
</style>