<template>
<!--User Balance-->
<div class="lobby_balance">
    <p>{{ userBalance }}</p>
    <span class="balance_border"></span>
    <span class="balance_icon"></span>
</div>
</template>


<script>
export default {
  data() {
    return {
      userBalance:0
    };
  },
  mounted() {
    let vm = this;
    this.$nextTick(function(){
        const axios = require('axios');
        //console.log(vm.$store.getters.getUserData);
        let access_token = vm.$cookies.get("access_token");
        axios.defaults.headers.common = {'Authorization': "Bearer " + access_token}
        vm.getBalance();
    });
  },
  methods: {
    getBalance(){
      let vm = this;
      let url = this.$config.API_URL;
      console.log(url);
      this.axios
        .get(url + "/v1/u168/login/balace")
        .then(function(response) {
          console.log("balace");
          console.log(response);
          vm.userBalance = response.data.data.balance;
          vm.$store.commit('setBalance', vm.userBalance);
          
        })
        .catch(function(error) {
          console.log(error);
        });

    },
  }
};
</script>

