<template>
    <div id="scratch_game">
        <div class="card_zone">
            <div class="card_bg">
                <!-- card_content加上.multiple顯示多張背景 -->
                <img class="card_bg_img" src="/images/card_bg.jpg">
                <div class="card_content multiple">
                    <div class="price_row">
                        <img src="/images/price_icon.png" alt="">
                        <img class="price_text" src="/images/text_price_1000.png" alt="">
                    </div>
                    <img src="/images/card_title_emoji.png" alt="" class="card_title">
                    <div class="odd_row">
                        <img src="/images/odd_text.png" alt="">
                        <img class="percent" src="/images/text_75percent.png" alt="">
                    </div>
                    <img src="/images/text_rule.png" alt="" class="rule">
                    <div class="card_code">
                        <span>{{nowCardData.sn}}</span>
                    </div>
                </div>
                <div class="prize_title">
                    <img class="" src="/images/text_win_100.png" alt="">
                </div>
                <!-- 刮刮提示動畫 -->
                <div class="main_scratch scratch_hint" v-if="tutorialShow=='true'">
                    <img class="" src="/images/scratch_hint.svg" alt="">
                </div>
                <!-- 主要刮刮範圍 -->
                <div class="main_scratch" ref="scratch_zone">           
                <scratch-card 
                    :cardNum="'Card1'"
                    :cardWidth="cardWidth"
                    :cardHeight="cardHeight"
                    :finishPercent="finishPercent"
                    :imageUrl="imageUrl"
                    :brushUrl="brushUrl"
                    :forceReveal="forceReveal"
                    :forceReset="forceReset"
                    :onComplete="onComplete(1)"
                    v-on:percentageValue="percentageValue"></scratch-card>
                </div>
                <div class="main_scratch">
                    
                        <div class="emoji_column">
                            <div class="emoji_box" v-bind:class="position[1]">
                                <div class="emoji_obj">
                                    <img :src="'/images/emoji_'+imageSrc[1]+'.png'" alt="">
                                    <span>{{ imagePrice[1] }}</span>
                                </div>
                            </div>
                            <div class="emoji_box" v-bind:class="position[2]">
                                <div class="emoji_obj">
                                    <img :src="'/images/emoji_'+imageSrc[2]+'.png'" alt="">
                                    <span>{{ imagePrice[2] }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="emoji_column">
                            <div class="emoji_box" v-bind:class="position[3]">
                                <div class="emoji_obj">
                                    <img :src="'/images/emoji_'+imageSrc[3]+'.png'" alt="">
                                    <span>{{ imagePrice[3] }}</span>
                                </div>
                            </div>
                            <div class="emoji_box" v-bind:class="position[4]">
                                <div class="emoji_obj">
                                    <img :src="'/images/emoji_'+imageSrc[4]+'.png'" alt="">
                                    <span>{{ imagePrice[4] }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="emoji_column">
                            <div class="emoji_box" v-bind:class="position[5]">
                                <div class="emoji_obj">
                                    <img :src="'/images/emoji_'+imageSrc[5]+'.png'" alt="">
                                    <span>{{ imagePrice[5] }}</span>
                                </div>
                            </div>
                            <div class="emoji_box" v-bind:class="position[6]">
                                <div class="emoji_obj">
                                    <img :src="'/images/emoji_'+imageSrc[6]+'.png'" alt="">
                                    <span>{{ imagePrice[6] }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="emoji_column">
                            <div class="emoji_box" v-bind:class="position[7]">
                                <div class="emoji_obj">
                                    <img :src="'/images/emoji_'+imageSrc[7]+'.png'" alt="">
                                    <span>{{ imagePrice[7] }}</span>
                                </div>
                            </div>
                        </div>
                </div>

                <!-- 幸運符號刮刮範圍 -->
                <div class="lucky_scratch">
                    <img class="lucky_img" ref="scratch_zone2" src="/images/scratch_bg_lucky.png">
                <scratch-card 
                    :cardNum="'Card2'"
                    :cardWidth="cardWidth2"
                    :cardHeight="cardHeight2"
                    :finishPercent="finishPercent2"
                    :imageUrl="imageUrl2"
                    :brushUrl="brushUrl"
                    :forceReveal="forceReveal2"
                    :forceReset="forceReset2"
                    :onComplete="onComplete(2)"
                    v-on:percentageValue="percentageValue2"></scratch-card>
                </div>

                <div class="lucky_scratch">
                    <div class="emoji_obj">
                        <img :src="'/images/emoji_'+imageSrc[0]+'.png'" alt="">
                    </div>
                </div>

            </div>
        </div>
        <div class="left_column">
            <!--按鈕 失效時加上.disabled-->
            <div class="game_btn" @click="forceGetAward" v-show="getOneAwardShow">
                <span class="main_text" >兌獎</span>
                <p class="sub_text">單張開獎</p>
            </div>
            <div class="game_btn" @click="autoGetAward" v-show="autoGetAwardShow">
                <span class="main_text" >自動開獎</span>
                <p class="sub_text">刮刮卡共<span>{{myOwnCardCount}}</span>張</p>
            </div>
        </div>
        <!-- 遊戲結果確認按鈕 -->
        <div class="game_confirm" @click="gameConfirm" v-show="game_confirm">
            <img src="/images/popup_confirm_btn.png" alt="">
        </div>
        <!-- 帳戶資訊 -->
        <div class="user_panel">
            <p class="user_id">{{ account_name  }}</p>
            <div class="user_balance">{{ balance }}</div>
        </div>
        <!-- 累積總金額 -->
        <div class="win_total">
            <p class="total">{{winTotal}}</p>
        </div>
        <!-- 輸贏特效 -->
        <div v-bind:class="['effect win',effectWinShow==true ? 'active' : '']">
            <div class="effect_container">
                <span class="bg_img"></span>
                <span class="bg_reward">
                    <p>{{ nowCardData.amount }}</p>
                </span>
                <span class="bg_firework"></span>
                <div class="animation_win_reward"></div>
                <span class="firework first"></span>
                <span class="firework second"></span>
                <span class="firework third"></span>
            </div>
        </div>
        <!-- <div class="effect lose" v-if="effectLoseShow=='true'"> -->
        <div v-bind:class="['effect lose',effectLoseShow==true ? 'active' : '']">
            <img src="/images/effect_lose_content.png" alt="">
        </div>
        <PannelMain></PannelMain>

    </div>

</template>

<script>
import PannelMain from "../components/Pannel/PannelMain.vue";
import ScratchCard from "../components/Game/ScratchCard.vue";
import BRUSH from "./brush.png";
import CardCover from "./main_cover.png";
import LuckyCover from "./lucky_cover.png";

export default {
  components: {
    PannelMain,
    ScratchCard
  },
  data() {
    return {
      popupShow: "",
      userData:{},
      cardUsedNum:0,
      myOwnCardCount:0,
      myOwnCard:[],
      balance:0,
      winTotal:1000000,
      account_name:'',
      /*
      recordsTabAllowed: "today",
      currentGuidePage: 0,
      guidePages: 9,
      showSelect: false,
      */
      pos1: "pos_1",
      pos2: "pos_2",
      pos3: "pos_3",
      pos4: "pos_4",
      pos5: "pos_5",
      pos6: "pos_6",
      pos7: "pos_7",
      pos8: "pos_8",
      pos9: "pos_9",
      imageSrc: [],
      imagePrice:[],
      position:[],
      tutorialShow: "false",
      effectWinShow: "false",
      effectLoseShow: "false",
      calcWidth: 0,
      calcHeight: 0,
      calcWidth2: 0,
      calcHeight2: 0,
      cardWidth: 211,
      cardHeight: 153,
      cardWidth2: 60,
      cardHeight2: 60,
      finishPercent: 99,
      finishPercent2: 99,
      brushUrl: BRUSH,
      imageUrl: CardCover,
      imageUrl2: LuckyCover,
      forceReveal: false,
      forceReset: false,
      forceReveal2: false,
      forceReset2: false,
      percentageData: 0,
      percentageData2: 0,
      window: {
        width: 0,
        height: 0
      },
      game_confirm:false,
      nowCardData:{},
      autoGetAwardShow:false,
      getOneAwardShow:true,
    };
  },
  created() {
    window.addEventListener("resize", this.handleResize);
    // this.handleResize();
  },
  destroyed() {
    window.removeEventListener("resize", this.handleResize);
  },
  computed: {
    pageClass() {
      return `page_0${this.current + 1}`;
    },
    len() {
      return this.guidePages;
    },
    forWidth() {
      let calc_width = this.$refs.scratch_zone.clientWidth;
      return (this.cardWidth = calc_width);
    },
    forHeight() {
      let calc_height = this.$refs.scratch_zone.clientHeight;
      return (this.cardHeight = calc_height);
    },
    forWidth2() {
      let calc_width2 = this.$refs.scratch_zone2.clientWidth;
      return (this.cardWidth2 = calc_width2);
    },
    forHeight2() {
      let calc_height2 = this.$refs.scratch_zone2.clientHeight;
      return (this.cardHeight2 = calc_height2);
    }
  },
  mounted() {
    let vm = this;
    this.$nextTick(function(){
        const axios = require('axios');
        //console.log(vm.$store.getters.getUserData);
        let access_token = vm.$cookies.get("access_token");
        axios.defaults.headers.common = {'Authorization': "Bearer " + access_token}
        vm.handleResize();
        vm.getOwnCard();
        vm.account_name = vm.$cookies.get("account_name");
        //vm.balance = vm.$cookies.get("balance");

        vm.balance = vm.$store.getters.getBalance;
        //console.log("vm.userData");
        //console.log(vm.userData);
    });
  },
  methods: {
    handleResize() {
      //this.window.width = window.innerWidth;
      //this.window.height = window.innerHeight;


      this.cardWidth = this.forWidth;
      this.cardHeight = this.forHeight;
      this.cardWidth2 = this.forWidth2;
      this.cardHeight2 = this.forHeight2;
/*
      this.cardWidth = 100;
      this.cardHeight = 100;
      this.cardWidth2 = 100;
      this.cardHeight2 = 100;
*/
      //console.log(this.cardWidth);
      //console.log(this.cardHeight);
      //console.log(this.cardWidth2);
      //console.log(this.cardHeight2);
      
    },
    setPopup(handler) {
      this.popupShow = handler;
    },
    recordsTabPressed(handler) {
      this.recordsTabAllowed = handler;
    },
    guideNext() {
      this.currentGuidePage = (this.currentGuidePage + 1) % this.len;
    },
    guidePrev() {
      this.currentGuidePage = (this.currentGuidePage - 1 + this.len) % this.len;
    },
    onComplete(id) {
      //alert(id);
    },
    percentageValue(childValue) {
        //console.log("percentageValue");
        //console.log(childValue);
        this.percentageData = childValue;
        this.checkFinish();
    },
    percentageValue2(childValue) {
        //console.log("percentageValue2");
        //console.log(childValue);
        this.percentageData2 = childValue; 
        this.checkFinish();
    },
    checkFinish(){
        let vm = this;
        if(vm.percentageData>90&&vm.percentageData2>90){
            vm.forceReveal = true;
            vm.forceReveal2 = true;
            vm.forceReset = false;
            vm.forceReset2 = false;     
            vm.percentageData = 0;
            vm.percentageData2 = 0;
            console.log("vm.nowCardData");
            console.log(vm.nowCardData);
            vm.setCardUsed(vm.nowCardData.id);
            if(this.myOwnCardCount==1){
               this.autoGetAwardShow = false;
               this.getOneAwardShow = false;
            }
            if(vm.nowCardData.amount>0){
                vm.balance = vm.balance + vm.nowCardData.amount;
                vm.winTotal = vm.winTotal - vm.nowCardData.amount;
                vm.effectWinShow=true;
                console.log("WIN");
                setTimeout(function(){
                    vm.effectWinShow = false;
                    vm.game_confirm = true;
                },
                3000);
            }else{
                vm.effectLoseShow=true;
                setTimeout(function(){
                    vm.effectLoseShow = false;
                    vm.game_confirm = true;
                },
                1500);
                
            }
            
        } 
        //console.log(childValue);
    },
    setCardUsed(id){
       var list=[];
       list.push(id);
       let url = this.$config.API_URL;
       this.axios.post(url+'/v1/member/productsResult', {ids: list})
       .then(function (response) {
       })
       .catch(function (error) {
           console.log(error);
       });
    },
    gameConfirm(){
        if(this.myOwnCardCount==1){
            this.$router.push({name:"Lobby"});
        }else{
            this.forceReveal = false;
            this.forceReveal2 = false;
            this.forceReset = true;
            this.forceReset2 = true;
            this.game_confirm = false;
            this.cardUsedNum++;
            this.nowCardData = this.myOwnCard[this.cardUsedNum];
            this.myOwnCardCount--;
            this.setCardPicPosition(this.nowCardData);
            this.setCardPicPrice(this.nowCardData);
        }
    },
    getOwnCard(){
       let vm = this;
       let url = this.$config.API_URL;
       this.axios.get(url+'/v1/member/products').then(function (response) {
           console.log("response.dataaaa");
           vm.myOwnCardCount = response.data.data.length;
           vm.myOwnCard = response.data.data;
           //console.log("vm.myOwnCard");
           //console.log(vm.myOwnCard);
           vm.nowCardData = vm.myOwnCard[0];
           vm.setCardPicPosition(vm.nowCardData);
           vm.setCardPicPrice(vm.nowCardData);
           //console.log("vm.nowCardData");
           //console.log(vm.nowCardData);
           if(vm.myOwnCardCount>0){
               vm.autoGetAwardShow = true;
           }
           
       })
       .catch(function (error) {
           console.log(error);
           //導回首頁
       });

    },
    setCardPicPosition(cardData) {
      this.position[1] = "pos_1";
      this.position[2] = "pos_2";
      this.position[3] = "pos_3";
      this.position[4] = "pos_4";
      this.position[5] = "pos_5";
      this.position[6] = "pos_6";
      this.position[7] = "pos_7";
      //console.log("cardData");
      const cardDataArray = JSON.parse(cardData.site);
      //console.log(cardDataArray);

      this.imageSrc[0] = cardDataArray[0];
      this.imageSrc[1] = cardDataArray[1][0];
      this.imageSrc[2] = cardDataArray[1][1];
      this.imageSrc[3] = cardDataArray[1][2];
      this.imageSrc[4] = cardDataArray[1][3];
      this.imageSrc[5] = cardDataArray[1][4];
      this.imageSrc[6] = cardDataArray[1][5];
      this.imageSrc[7] = cardDataArray[1][6];
        //imagePrice
      //console.log(this.imageSrc);
    },

    setCardPicPrice(cardData){
      const cardDataArray = JSON.parse(cardData.site_amount);
      console.log("setCardPicPrice");
      console.log(cardDataArray);
      this.imagePrice[1] = cardDataArray[0];
      this.imagePrice[2] = cardDataArray[1];
      this.imagePrice[3] = cardDataArray[2];
      this.imagePrice[4] = cardDataArray[3];
      this.imagePrice[5] = cardDataArray[4];
      this.imagePrice[6] = cardDataArray[5];
      this.imagePrice[7] = cardDataArray[6];
    },
    autoGetAward() {
      this.$router.push({ name: "Result" });
    },
    forceGetAward() {
      this.forceReveal = true;
      this.forceReveal2 = true;
      this.percentageData = 100;
      this.percentageData2 = 100;
      this.checkFinish();
    }
  }
};
</script>