<template>
<div>
    <!-- <progress-page/>
    <loading/> -->
    <div id="lobby">
        <div class="lobby_grid">
            <div class="lobby_obj" @click="selectGame(game1info.id)">
                <div class="head">
                    <h2 class="head_title game_name">{{game1info.name}}</h2>
                    <div class="price"><span>{{game1info.ticket_price}}</span></div>
                    <h3 class="head_title win_prize">頭獎<span>{{game1info.max_award/10000}}</span>萬</h3>
                </div>
                <img src="/images/lobby_card.jpg" alt="" class="card">
            </div>
        </div>
        <div class="lobby_grid">
            <div class="lobby_obj">
                <div class="head">
                    <h2 class="head_title game_name"></h2>
                    <div class="price"><span></span></div>
                    <h3 class="head_title win_prize"><span></span></h3>
                </div>
                <img src="/images/lobby_fake_1.png" alt="" class="fake">
            </div>
        </div>
        <div class="lobby_grid">
            <div class="lobby_obj">
                <div class="head">
                    <h2 class="head_title game_name"></h2>
                    <div class="price"><span></span></div>
                    <h3 class="head_title win_prize"><span></span></h3>
                </div>
                <img src="/images/lobby_fake_2.png" alt="" class="fake">
            </div>
        </div>
        <div class="lobby_grid">
            <div class="lobby_obj">
                <div class="head">
                    <h2 class="head_title game_name"></h2>
                    <div class="price"><span></span></div>
                    <h3 class="head_title win_prize"><span></span></h3>
                </div>
                <img src="/images/lobby_fake_3.png" alt="" class="fake">
            </div>
        </div>
        <!--User Balance-->
        <LobbyBalance></LobbyBalance>
    </div>
    <PannelMain></PannelMain>
</div>
</template>

<script>
import LobbyBalance from  "../components/Wallet/LobbyBalance.vue";
import PannelMain from  "../components/Pannel/PannelMain.vue";
import Loading from "../views/loading";
import ProgressPage from "../views/progress";

export default {
  components: {
    LobbyBalance,
    PannelMain,
    Loading,
    ProgressPage
  },
  data() {
    return {
      game1info: {
          id:1,
          ticket_price:0,
          max_award:0,
          name:"",
      },
      popupShow:'',
      userBalance:0
    };
  },
  mounted() {
    let vm = this;
    this.$nextTick(function(){
        const axios = require('axios');
        let access_token = vm.$cookies.get("access_token");
        axios.defaults.headers.common = {'Authorization': "Bearer " + access_token}
        vm.getGameClass();
        vm.$store.commit('playBackgroundAudio');
    });
  },
  methods: {
    getGameClass() {
      let vm = this;
      let url = this.$config.API_URL;
      console.log(url);
      this.axios
        .get(url + "/v1/periods/class")
        .then(function(response) {
          if (response.status) {
            vm.game1info.id = response.data.data[0].periods_class_id;
            vm.game1info.name = response.data.data[0].name;
            vm.game1info.ticket_price = response.data.data[0].period.price;
            vm.game1info.max_award = response.data.data[0].period.max_award;
          } else {
            console.log("無拿到資料");
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    selectGame(gameID){
        this.$router.push({name:"CardMenu", query: {id: gameID}});
    }
  }
};
</script>