<template>
    <div class="progress_page">
        <div class="progress">
            <p class="progress_text">加載中: {{ progress + "%" }}</p>
            <div class="progress_bar" :style="{ width: progress + '%' }"></div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            progress: 50
        }
    }
}
</script>
