<template>
    <div id="game_result">
        <div class="result_container">
            <div class="column left">
                <!-- 此獎項沒有資料時在result_obj加上.zero -->
                <div class="result_obj zero">
                    <div class="prize_label">
                        <img src="/images/result_first.png" alt="">
                    </div>
                    <div class="grid price">
                        <img src="/images/result_price_1.png" alt="">
                    </div>
                    <div class="grid amount zero">{{ getNumber(1000000) }}</div>
                    <!--
                    <div class="grid btn_more">
                        <img src="/images/result_more_btn.png" alt="">
                    </div>
                    -->
                </div>
                <div class="result_obj zero">
                    <div class="prize_label">
                        <img src="/images/result_second.png" alt="">
                    </div>
                    <div class="grid price">
                        <img src="/images/result_price_2.png" alt="">
                    </div>
                    <div class="grid amount zero">{{ getNumber(100000) }}</div>
                    <!--
                    <div class="grid btn_more">
                        <img src="/images/result_more_btn.png" alt="">
                    </div>
                    -->
                </div>
                <div class="result_obj">
                    <div class="prize_label">
                        <img src="/images/result_third.png" alt="">
                    </div>
                    <div class="grid price">
                        <img src="/images/result_price_3.png" alt="">
                    </div>
                    <div class="grid amount zero">{{ getNumber(50000) }}</div>
                    
                    <!--
                    <div class="grid btn_more">
                        <img src="/images/result_more_btn.png" alt="">
                    </div>
                    -->
                </div>
                <div class="result_obj">
                    <div class="prize_label">
                        <img src="/images/result_star.png" alt="">
                    </div>
                    <div class="grid price">
                        <img src="/images/result_price_4.png" alt="">
                    </div>
                    <div class="grid amount">{{ getNumber(25000) }}</div>
                    
                    <!--
                    <div class="grid btn_more">
                        <img src="/images/result_more_btn.png" alt="">
                    </div>
                    -->
                    
                </div>
                <div class="result_obj">
                    <div class="prize_label">
                        <img src="/images/result_star.png" alt="">
                    </div>
                    <div class="grid price">
                        <img src="/images/result_price_5.png" alt="">
                    </div>
                    <div class="grid amount">{{ getNumber(10000) }}</div>
                    <!--
                    <div class="grid btn_more" @click="setPopup('resultDetail')">
                        <img src="/images/result_more_btn.png" alt="">
                    </div>
                    -->
                </div>
            </div>
            <div class="column right">
                <div class="result_obj zero">
                    <div class="prize_label">
                        <img src="/images/result_star.png" alt="">
                    </div>
                    <div class="grid price">
                        <img src="/images/result_price_6.png" alt="">
                    </div>
                    <div class="grid amount">{{ getNumber(5000) }}</div>
                    <!--
                    <div class="grid btn_more">
                        <img src="/images/result_more_btn.png" alt="">
                    </div>
                    -->
                </div>
                <div class="result_obj zero">
                    <div class="prize_label">
                        <img src="/images/result_star.png" alt="">
                    </div>
                    <div class="grid price">
                        <img src="/images/result_price_7.png" alt="">
                    </div>
                    <div class="grid amount zero">{{ getNumber(2500) }}</div>
                    <!--
                    <div class="grid btn_more">
                        <img src="/images/result_more_btn.png" alt="">
                    </div>
                    -->
                </div>
                <div class="result_obj">
                    <div class="prize_label">
                        <img src="/images/result_star.png" alt="">
                    </div>
                    <div class="grid price">
                        <img src="/images/result_price_8.png" alt="">
                    </div>
                    <div class="grid amount">{{ getNumber(1000) }}</div>
                    
                    <!--
                    <div class="grid btn_more">
                        <img src="/images/result_more_btn.png" alt="">
                    </div>
                    -->
                </div>
                <div class="result_obj">
                    <div class="prize_label">
                        <img src="/images/result_star.png" alt="">
                    </div>
                    <div class="grid price">
                        <img src="/images/result_price_9.png" alt="">
                    </div>
                    <div class="grid amount">{{ getNumber(500) }}</div>
               
                    <!--
                    <div class="grid btn_more">
                        <img src="/images/result_more_btn.png" alt="">
                    </div>
                    -->
                </div>
                <div class="result_obj">
                    <div class="prize_label">
                        <img src="/images/result_star.png" alt="">
                    </div>
                    <div class="grid price">
                        <img src="/images/result_price_10.png" alt="">
                    </div>
                    <div class="grid amount">{{ getNumber(250) }}</div>
           
                    <!--
                    <div class="grid btn_more">
                        <img src="/images/result_more_btn.png" alt="">
                    </div>
                    -->
                </div>
            </div>
        </div>
        <div class="total_container">
            <div class="total">
                <div class="head">
                    <p>總計</p><span>Total</span>
                </div>
                <div class="number">{{ resultData["amout"] }}</div>
            </div>
        </div>
        <!-- 返回大廳按鈕 -->
        <div class="back_to_lobby">
            <img src="/images/back_btn.png" alt="" class="back_btn" @click="backToLobby">
        </div>

        <!-- 帳戶資訊 -->
        <div class="user_panel">
            <p class="user_id">{{ userData.account_name  }}</p>
            <div class="user_balance">{{balance}}</div>
        </div>
        <!-- 輸贏特效 -->
        <div class="effect win" v-if="effectShow=='true'">
            <img src="/images/effect_win_content.png" alt="">
        </div>
        <div class="effect lose" v-if="effectShow=='true'">
            <img src="/images/effect_lose_content.png" alt="">
        </div>
        <!--中獎細節彈窗-->
        <div class="popup_wrapper" v-if="popupShow=='resultDetail'">
            <div class="popup_mask" @click="popupShow=''"></div>
            <div class="popup scratch_game result_list">
                <div class="result_title">
                    共<span class="number"> 367 </span>張獲得<span class="number"> 36700 </span>獎金
                </div>
                <div class="result_list_container">
                    <div class="card">
                        <img src="/images/lobby_card.jpg" alt="">
                    </div>
                    <div class="list_wrap">
                    <div class="list">
                        <div class="list_item"><span>1</span> <p @click="setPopup('singleResult')">ABC12345678</p></div>
                        <div class="list_item"><span>2</span> <p>ABC12345678</p></div> 
                        <div class="list_item"><span>3</span> <p>ABC12345678</p></div> 
                        <div class="list_item"><span>4</span> <p>ABC12345678</p></div> 
                        <div class="list_item"><span>5</span> <p>ABC12345678</p></div> 
                        <div class="list_item"><span>6</span> <p>ABC12345678</p></div> 
                        <div class="list_item"><span>7</span> <p>ABC12345678</p></div> 
                        <div class="list_item"><span>8</span> <p>ABC12345678</p></div> 
                        <div class="list_item"><span>9</span> <p>ABC12345678</p></div>                        
                        <div class="list_item"><span>10</span> <p>ABC12345678</p></div> 
                        <div class="list_item"><span>11</span> <p>ABC12345678</p></div> 
                        <div class="list_item"><span>12</span> <p>ABC12345678</p></div> 
                        <div class="list_item"><span>13</span> <p>ABC12345678</p></div> 
                        <div class="list_item"><span>14</span> <p>ABC12345678</p></div> 
                        <div class="list_item"><span>15</span> <p>ABC12345678</p></div> 
                        <div class="list_item"><span>16</span> <p>ABC12345678</p></div> 
                        <div class="list_item"><span>17</span> <p>ABC12345678</p></div> 
                        <div class="list_item"><span>18</span> <p>ABC12345678</p></div>
                        <div class="list_item"><span>19</span> <p>ABC12345678</p></div> 
                        <div class="list_item"><span>20</span> <p>ABC12345678</p></div> 
                        <div class="list_item"><span>21</span> <p>ABC12345678</p></div> 
                        <div class="list_item"><span>22</span> <p>ABC12345678</p></div> 
                        <div class="list_item"><span>23</span> <p>ABC12345678</p></div> 
                        <div class="list_item"><span>24</span> <p>ABC12345678</p></div> 
                        <div class="list_item"><span>25</span> <p>ABC12345678</p></div> 
                        <div class="list_item"><span>26</span> <p>ABC12345678</p></div>                        
                        <div class="list_item"><span>27</span> <p>ABC12345678</p></div> 
                        <div class="list_item"><span>28</span> <p>ABC12345678</p></div> 
                        <div class="list_item"><span>29</span> <p>ABC12345678</p></div> 
                        <div class="list_item"><span>30</span> <p>ABC12345678</p></div> 
                        <div class="list_item"><span>31</span> <p>ABC12345678</p></div> 
                        <div class="list_item"><span>32</span> <p>ABC12345678</p></div> 
                        <div class="list_item"><span>33</span> <p>ABC12345678</p></div> 
                        <div class="list_item"><span>34</span> <p>ABC12345678</p></div> 
                    </div>
                    </div>
                </div>
                <div class="popup_btn_wrapper">
                    <div class="popup_btn back" @click="popupShow=''"></div>

                </div>
            </div>
        </div>
                <!--單一中獎彈窗-->
        <div class="popup_wrapper" v-if="popupShow=='singleResult'">
            <div class="popup_mask" @click="popupShow=''"></div>
            <div class="popup scratch_game single_result">
                <div class="popup_close" @click="popupShow=''"></div>
                         <!-- pager -->
                <div class="menu_pager back">
                    <img src="/images/lobby_pager_arrow.png" alt="">
                </div>
                <div class="menu_pager next">
                    <img src="/images/lobby_pager_arrow.png" alt="">
                </div>  

                <div class="img_container">
                    <!-- <img src="/images/lobby_card.jpg" alt=""> -->
                    <div class="card_zone">
                        <div class="card_bg">
                            <img class="card_bg_img" src="/images/card_bg.jpg">
                            <div class="card_content">
                                <div class="price_row">
                                    <img src="/images/price_icon.png" alt="">
                                    <img class="price_text" src="/images/text_price_1000.png" alt="">
                                </div>
                                <img src="/images/card_title_emoji.png" alt="" class="card_title">
                                <div class="odd_row">
                                    <img src="/images/odd_text.png" alt="">
                                    <img class="percent" src="/images/text_75percent.png" alt="">
                                </div>
                                <img src="/images/text_rule.png" alt="" class="rule">
                                <div class="card_code">
                                    <span>sn000101111</span>
                                </div>
                            </div>
                            <div class="prize_title">
                                <img class="" src="/images/text_win_100.png" alt="">
                            </div>
                            <div class="main_scratch">
                                <div class="emoji_column">
                                    <div class="emoji_box pos_1">
                                        <div class="emoji_obj">
                                            <img src="/images/emoji_1.png" alt="">
                                            <span>250</span>
                                        </div>
                                    </div>
                                    <div class="emoji_box pos_2">
                                        <div class="emoji_obj">
                                            <img src="/images/emoji_2.png" alt="">
                                            <span>500</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="emoji_column">
                                    <div class="emoji_box pos_3">
                                        <div class="emoji_obj">
                                            <img src="/images/emoji_3.png" alt="">
                                            <span>250</span>
                                        </div>
                                    </div>
                                    <div class="emoji_box pos_4">
                                        <div class="emoji_obj">
                                            <img src="/images/emoji_4.png" alt="">
                                            <span>1000</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="emoji_column">
                                    <div class="emoji_box pos_5">
                                        <div class="emoji_obj">
                                            <img src="/images/emoji_5.png" alt="">
                                            <span>250</span>
                                        </div>
                                    </div>
                                    <div class="emoji_box pos_6">
                                        <div class="emoji_obj">
                                            <img src="/images/emoji_6.png" alt="">
                                            <span>250</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="emoji_column">
                                    <div class="emoji_box pos_7">
                                        <div class="emoji_obj">
                                            <img src="/images/emoji_7.png" alt="">
                                            <span>1000000</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 幸運符號刮刮範圍 -->
                            <div class="lucky_scratch">
                                <img class="lucky_img" ref="scratch_zone2" src="/images/scratch_bg_lucky.png">
                            </div>
                            <div class="lucky_scratch">
                                <div class="emoji_obj">
                                    <img src="/images/emoji_7.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <PannelMain></PannelMain>
    </div>
</template>

<script>
import PannelMain from  "../components/Pannel/PannelMain.vue";
export default {
  components: {
    PannelMain,
  },
  data() {
    return {
      popupShow: "",
      recordsTabAllowed: "today",
      currentGuidePage: 0,
      guidePages: 9,
      showSelect: false,
      pos1: "pos_1",
      pos2: "pos_2",
      pos3: "pos_3",
      pos4: "pos_4",
      pos5: "pos_5",
      pos6: "pos_6",
      pos7: "pos_7",
      pos8: "pos_8",
      pos9: "pos_9",
      tutorialShow: "false",
      effectShow: "false",
      userData:{},
      balance:0,
      priceList:[],
      resultData:{},
      priceData:[]
    };
  },
  computed: {
    pageClass() {
      return `page_0${this.current + 1}`;
    },
    len() {
      return this.guidePages;
    }
  },
  mounted() {
    let vm = this;
    this.$nextTick(function(){
        const axios = require('axios');
        let access_token = vm.$cookies.get("access_token");
        axios.defaults.headers.common = {'Authorization': "Bearer " + access_token}
        vm.userData = vm.$store.getters.getUserData;
        vm.balance = vm.$store.getters.getBalance;
        vm.getResult();
    });
  },
  
  methods: {
    setPopup(handler) {
      this.popupShow = handler;
    },
    recordsTabPressed(handler) {
      this.recordsTabAllowed = handler;
    },
    guideNext() {
      this.currentGuidePage = (this.currentGuidePage + 1) % this.len;
    },
    guidePrev() {
      this.currentGuidePage = (this.currentGuidePage - 1 + this.len) % this.len;
    },
    backToLobby(){
      this.$router.push({name:"Lobby"});
    },
    getResult(){
       let vm = this;
       let url = this.$config.API_URL;
       let periods_id = this.$cookies.get("game_id");
       this.axios.get(url+'/v1/periods/odds?periods_id='+periods_id)
       .then(function (response) {
           //console.log(odds);
           console.log(response.data.data);
           vm.priceList = response.data.data;

           vm.axios.post(url+'/v1/member/productsResult')
           .then(function (response) {
               console.log("productsResult");
               console.log(response.data.data.amouttag);
               //response.data.data.amouttag

               console.log(vm.priceData);
               vm.resultData = response.data.data;

               //console.log("vm.resultData.amouttag[0]");

           })
           .catch(function (error) {
               console.log(error);
           });

       })
       .catch(function (error) {
           console.log(error);
       });
       
    },
    getNumber(amount){
        let vm = this;
      // let amount = vm.resultData.amouttag[amount];
      if (typeof vm.resultData.amouttag[amount] === "undefined") {
          return 0;
      }else{
          return "+"+vm.resultData.amouttag[amount];
      }
    }

  }
};
</script>