$uiBtnList: "action", "undo", "cancel", "rebet", "franch", "statistics";
$chipsList: "100","500","1k","5k","10k","25k","50k","100k","250k","500k";

.controller{
    @include flexBox(row);
    @include flexAlign(center, center);
    position: relative;
    width: 100%;
    height: 18vh;
    z-index: 301;
    background: linear-gradient(#4b5d67 15%, #232a34 50%, #131521 80%);
    box-shadow: 0 -1vh 1vh rgba(0,0,0,0.8);
    .block_row{
        @include flexBox(row);
        @include flexAlign(center, center);
        height: 100%;
    }
    .ui_btn{
        width: 15vh;
        height: 90%;
        @include aspect_iPadPro{
            width: 10vh;
        }
        @include aspect_43{
            width: 10vh;
        }
        @each $currentUiBtn in $uiBtnList {
            $i: index($uiBtnList, $currentUiBtn);

            &.#{$currentUiBtn} {
                background: url("/images/game/controller_#{$currentUiBtn}.png") no-repeat center;
                background-size: contain;
                &:active{
                    background: url("/images/game/controller_#{$currentUiBtn}_pressed.png") no-repeat center;
                    background-size: contain;
                }
            }
        }
    }
    .chips_container{
        @include flexBox(column);
        @include flexAlign(center, center);
        @include boxSizing;
        height: 80%;
        padding: 0.8vh 0.6vh;
        background: linear-gradient(#1a232a, #192026 70%);
        border-radius: 2.5vh;
        .chips_inner{
            @include flexBox(row);
            @include flexAlign(center, center);
            width: 100%;
            height: 100%;
            background: url("/images/game/chips_bg.jpg") repeat;
            border-radius: 2vh;
            box-shadow: inset 0 0 2vh 0.7vh rgba(0,0,0,0.8);
        }
    }
    .chips_arrow{
        width: 7vh;
        height: 90%;
        &.prev{
            background: url("/images/game/chips_arrow_prev.png") no-repeat -0.5vh center;
            background-size: contain;
            &:active{
                background: url("/images/game/chips_arrow_prev_pressed.png") no-repeat -0.5vh center;
                background-size: contain;
            }
        }
        &.next{
            background: url("/images/game/chips_arrow_next.png") no-repeat center;
            background-size: contain;
            &:active{
                background: url("/images/game/chips_arrow_next_pressed.png") no-repeat center;
                background-size: contain;
            }
        }
    }
}

.chips{
    width: 13vh;
    height: 13vh;
    max-height: 95%;
    @include aspect_iPadPro{
        width: 11vh;
        height: 11vh;
    }
    @include aspect_43{
        width: 11vh;
        height: 11vh;
    }
    @each $currentChips in $chipsList {
        $i: index($chipsList, $currentChips);
        &.am_#{$currentChips} {
            background: url("/images/game/chip_#{$currentChips}.png") no-repeat center;
            background-size: contain;
            &.active{
                background: url("/images/game/chip_#{$currentChips}_glow.png") no-repeat center;
                background-size: contain;
            }
        }
    }
}

.fake_chips{
    @include flexBox(row);
    @include flexAlign(center, center);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 5vh;
    height: 5vh;
    min-width: 34px;
    min-height: 34px;
    background: url("/images/game/chips_bet_01.png") no-repeat center;
    background-size: contain;
    label{
        font-family: "BebasNeueLight";
        @include xl{
            font-size: 0.8rem;
        }
        text-align: center;
        font-size: 2vh;
        color: #fff;
    }
}