#scratch_game {
    @include flexBox(row);
    @include flexAlign(center, center);
    @include boxSizing;

    padding-top: 8%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/images/ScratchCard_BG.jpg") no-repeat top;
    background-size: cover;

    @extend .unselect;

    .effect {
        @include flexBox(row);
        @include flexAlign(center, center);
        display: none;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        @extend .unselect;

        &.win {
            .bg_img {
                @include easeInOutBack(0.5s);

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%) scale(0.8);
                width: 65vh;
                height: 50vh;
                background: url("/images/effect_win_content.png") no-repeat;
                background-size: contain;
                opacity: 0;
            }

            .bg_reward {
                @include easeInOutBack(1s);

                position: absolute;
                bottom: 35%;
                left: 50%;
                transform: translateX(-50%) translateY(35%) scale(0.8);
                width: 67vh;
                height: 15vh;
                background: url("/images/reward_bg.png") no-repeat center;
                background-size: contain;
                opacity: 0;

                p {
                    position: absolute;
                    display: table;
                    top: 30%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-30%);
                    font-size: 6vh;
                }
            }

            .firework{
                @include easeInOutBack(0.5s);
                position: absolute;
                z-index: 10;
                opacity: 0;
                transform: scale(0.7);
                &.first{
                    width: 30vh;
                    height: 30vh;
                    top: 26%;
                    left: 25%;
                    background: url("/images/effect_firework_01.png") no-repeat center;
                    background-size: 100%;
                }

                &.second{
                    width: 15vh;
                    height: 15vh;
                    top: 28%;
                    left: 54%;
                    background: url("/images/effect_firework_02.png") no-repeat center;
                    background-size: 100%;
                }

                &.third{
                    width: 30vh;
                    height: 30vh;
                    top: 35%;
                    left: 63%;
                    background: url("/images/effect_firework_03.png") no-repeat center;
                    background-size: 100%;
                }
            }

            &:after {
                @include easeInOutBack(0.5s);

                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: url("/images/effect_win.png") no-repeat center;
                background-size: contain;
                opacity: 0;
            }

            &.active {
                display: block;
                .bg_img {
                    animation: showEffect 0.5s;
                    animation-delay: 0.5s;
                    animation-fill-mode: forwards;
                }

                .bg_reward {
                    animation: showRewardEffect 0.5s;
                    animation-delay: 0.7s;
                    animation-fill-mode: forwards;
                }

                .animation_win_reward {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: 10;
                    background: url("/images/win.png") no-repeat;
                    background-size: 2500% 100%;
                    background-position-x: 0;
                    animation: win_reward_eco 1.5s steps(24);
                    animation-delay: 2s;
                }

                .firework{
                    animation: firework 0.5s;
                    animation-fill-mode: forwards;
                    &.first{
                        animation-delay: 1s;
                    }
    
                    &.second{
                        animation-delay: 1.3s;
                    }
    
                    &.third{
                        animation-delay: 1.8s;
                    }
                }

                &:after {
                    opacity: 1;
                }
            }
        }

        &.lose {
            &:after {
                @include easeInOutBack(0.5s);

                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: url("/images/effect_lose.png") no-repeat center;
                background-size: contain;
                opacity: 0;
            }

            img {
                @include easeInOutBack(0.5s);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%) scale(0.8);
                width: 50vh;
                opacity: 0;
            }

            &.active {
                display: block;
                img {
                    animation: showEffect 0.5s;
                    animation-fill-mode: forwards;
                    opacity: 1;
                }
                &:after{
                    opacity: 1;
                }
            }
        }
    }

    .win_total {
        @include flexBox(row);
        @include flexAlign(flex-end, center);

        @include boxSizing;

        width: 35vh;
        height: 13vh;
        padding-bottom: 1%;
        background: url("/images/win_total.png") center no-repeat;
        background-size: 100%;
        position: fixed;
        top: 5%;
        left: 8%;

        .total {
            font-family: 'Ayuthaya',Arial, sans-serif;
            color: #FFDC0B;
            font-size: 4vh;
        }
    }

    .game_confirm {
        position: fixed;
        bottom: 6vh;
        left: 50%;
        margin-left: -6vw;
        animation: bounce-in-top 1s both;

        &:active {
            filter: brightness(0.8);
        }

        img {
            width: 12vw;
        }
    }

    @keyframes bounce-in-top {
        0% {
            transform: translateY(-500px);
            animation-timing-function: ease-in;
            opacity: 0;
        }

        38% {
            transform: translateY(0);
            animation-timing-function: ease-out;
            opacity: 1;
        }

        55% {
            transform: translateY(-65px);
            animation-timing-function: ease-in;
        }

        72% {
            transform: translateY(0);
            animation-timing-function: ease-out;
        }

        81% {
            transform: translateY(-28px);
            -webkit-animation-timing-function: ease-in;
        }

        90% {
            transform: translateY(0);
            animation-timing-function: ease-out;
        }

        95% {
            transform: translateY(-8px);
            animation-timing-function: ease-in;
        }

        100% {
            transform: translateY(0);
            animation-timing-function: ease-out;
        }
    }

    .user_panel {
        @include flexBox(column);
        @include flexAlign(flex-end, center);

        @include boxSizing;

        padding-right: 1%;
        width: 46vh;
        height: 20vh;
        background: url("/images/user_panel.png") bottom no-repeat;
        background-size: 100%;
        position: fixed;
        bottom: 0;
        right: 0;

        .user_id {
            color: #fff;
            font-size: 4vh;
            width: 100%;
            text-align: end;
            margin: 1%;
        }

        .user_balance {
            @include flexBox(row);
            @include flexAlign(center, flex-end);

            @include boxSizing;

            padding-right: 5%;
            width: 34vh;
            height: 6vh;
            background: url("/images/balance_bg.svg") center right no-repeat;
            background-size: 100%;
            font-family: 'Ayuthaya',Arial, sans-serif;
            color: #FFDC0B;
            font-size: 3vh;
        }
    }

    .card_zone {
        @include flexBox(row);
        @include flexAlign(center, flex-end);

        width: 65%;
        height: 100%;

        .card_bg {
            @include flexBox(column);
            @include flexAlign(flex-end, center);

            width: 105vh;
            max-width: 98%;
            height: 60%;

            // background: url("/images/card_bg.jpg") center no-repeat;
            // background-size: 100%;
            position: relative;

            .card_bg_img {
                position: absolute;
                width: 100%;
                height: 56vh;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                z-index: -1;
            }

            .card_content {
                @include flexBox(column);
                @include flexAlign(flex-start, center);

                @include boxSizing;

                padding-left: 1%;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;

                &.multiple:before {
                    content: '';
                    position: absolute;
                    right: -4%;
                    width: 100%;
                    height: 100%;
                    z-index: -2;
                    background: url("/images/multiple_card.png") center no-repeat;
                    background-size: 100%;
                }

                .price_row {
                    @include flexBox(row);
                    @include flexAlign(center, flex-start);

                    height: 6vh;
                    width: 100%;

                    img {
                        width: 10vh;

                        &.price_text {
                            width: 10vh;
                            height: 4.5vh;
                            margin-left: 1vh;
                        }
                    }
                }

                .card_title {
                    width: 43%;
                }

                .odd_row {
                    @include flexBox(row);
                    @include flexAlign(center, center);

                    width: 50vh;
                    height: 5vh;

                    img {
                        width: 13vh;

                        &.percent {
                            width: 10vh;
                            height: 5vh;
                        }
                    }
                }

                .rule {
                    width: 26%;
                    margin-bottom: 2%;
                }

                .card_code {
                    @include flexBox(row);
                    @include flexAlign(center, center);

                    position: absolute;
                    bottom: -1%;
                    right: 1%;
                    width: 24%;
                    height: 9%;
                    background: url(/images/code_bg.png) top no-repeat;
                    background-size: 100%;

                    span {
                        @include flexBox(row);
                        @include flexAlign(center, center);

                        font-size: 4vh;
                        font-family: "BebasNeueBold";
                    }
                }
            }

            .prize_title {
                @include flexBox(row);
                @include flexAlign(center, center);

                width: 41%;
                height: 14%;
                background: url(/images/jackpot_bg.png) center no-repeat;
                background-size: 100%;
                margin-top: -46vh;
                margin-right: 9%; // position: absolute;

                // right: 11%;
                // top: 9%;

                img {
                    height: 55%;
                    margin-left: 15%;
                }
            }

            .emoji_obj {
                @include flexBox(column);
                @include flexAlign(center, center);

                img {
                    height: 10vh;
                }

                span {
                    font-size: 2vh;
                    font-family: "BebasNeueBold";
                }
            }

            .main_scratch {
                @include flexBox(row);
                @include flexAlign(center, center);

                width: 51vh;
                max-width: 50%;
                height: 37vh;
                background: url(/images/scratch_bg.png) center no-repeat;
                background-size: 100%;
                position: absolute;
                right: 5.5%;
                top: 50%;
                margin-top: -16vh;

                &.scratch_hint {
                    background: url(/images/scratch_hint_bg.png) center no-repeat;
                    background-size: 100%;
                    z-index: 2;

                    img {
                        height: 20%;
                        transform: rotate(-30deg);
                        animation: scratch 0.6s linear infinite both;
                    }

                    @keyframes scratch {
                        0%,
                        100% {
                            transform: translateX(-5vh) translateY(3vh) rotate(-40deg);
                            transform-origin: 50% 50%;
                        }

                        30% {
                            transform: translateX(-3vh) translateY(2vh) rotate(-30deg);
                        }

                        45% {
                            transform: translateX(3vh) translateY(-2vh) rotate(-20deg);
                        }

                        75% {
                            transform: translateX(-3vh) translateY(2vh) rotate(-30deg);
                        }
                    }
                }

                .emoji_column {
                    @include flexBox(column);
                    @include flexAlign(center, center);

                    width: 25%;
                    height: 100%;

                    .emoji_box {
                        @include flexBox(column);
                        @include flexAlign(center, center);

                        width: 100%;
                        height: 40%;
                        min-height: 60px;

                        &.pos_1 {
                            @include flexAlign(center, center);
                        }

                        &.pos_2 {
                            @include flexAlign(flex-start, center);
                        }

                        &.pos_3 {
                            @include flexAlign(center, flex-start);
                        }

                        &.pos_4 {
                            @include flexAlign(flex-end, center);
                        }

                        &.pos_5 {
                            @include flexAlign(center, flex-end);
                        }

                        &.pos_6 {
                            @include flexAlign(flex-end, flex-end);
                        }

                        &.pos_7 {
                            @include flexAlign(flex-start, flex-end);
                        }

                        &.pos_8 {
                            @include flexAlign(flex-end, flex-start);
                        }

                        &.pos_9 {
                            @include flexAlign(flex-start, flex-start);
                        }
                    }
                }
            }

            .lucky_scratch {
                @include flexBox(column);
                @include flexAlign(center, center);

                width: 16vh;
                max-width: 14%;
                height: 18vh;
                position: absolute;
                right: 57%;
                top: 49%;
                margin-top: 5%;

                .lucky_img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    z-index: -1;
                }
            }
        }
    }

    .left_column {
        @include flexBox(column);
        @include flexAlign(flex-start, flex-end);

        @include boxSizing;

        width: 35%;
        height: 100%;
        padding: 0 12vh 20vh 4%;

        .game_btn {
            @include flexBox(column);
            @include flexAlign(center, center);

            max-width: 95%;
            width: 36vh;
            height: 16vh;
            background: url("/images/game_btn.png") center right no-repeat;
            background-size: 100%;
            font-family: 'Apple LiGothic','Lihei',Arial;
            margin-top: 1%;

            &:active .main_text {
                opacity: 0.5;
            }

            &.disabled .main_text {
                opacity: 0.5;
            }

            .main_text {
                color: #fff;
                font-size: 4.5vh;
                text-shadow: 0 0 5px #000;
                margin-bottom: 3%;
            }

            .sub_text {
                color: #000;
                font-size: 3vh;

                span {
                    color: #FFDC0B;
                }
            }
        }
    }

    @include aspect_alliPad {
        .card_zone .card_bg .prize_title {
            margin-top: -38vh;
        }

        .card_zone .card_bg .card_content .card_code {
            bottom: -1%;
        }
    }
}

@keyframes win_reward_eco {
    100% {
        background-position-x: 100%;
    }
}

@keyframes scale-in-ver-center {
    0% {
        transform: scaleY(0);
        opacity: 1;
    }

    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}

@keyframes showEffect{
    100%{
        transform: scale(1) translateX(-50%) translateY(-50%);
        opacity: 1;
    }
}

@keyframes showRewardEffect{
    100%{
        transform: scale(1) translateX(-50%) translateY(30%);
        opacity: 1;
    }
}

@keyframes firework{
    100%{
        transform: scale(1);
        opacity: 1;
    }
}