@mixin coinStatusStyle {
    @include flexBox(row);
    @include flexAlign(center, flex-start);
    @include boxSizing;

    position: relative;
    flex: 1;
    width: 100%;
    border-radius: 4px;
    padding: 1vh;
    margin-bottom: 1.5vh;
    box-shadow: 0 0 3px 0 rgba(255, 255, 255, 0.4);
    background: linear-gradient(#191113 30%, #473b3c);

    &:last-child {
        margin-bottom: 0;
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        box-shadow: inset 0 0 2vh 1vh rgba(0, 0, 0, 1);
    }

    &:before {
        content: "";
        width: 9vh;
        height: 9vh;
        margin-right: 1vh;
    }

    @for $i from 1 through 4 {
        &.type_0#{$i}:before {
            background: url("/images/common/credits_coin_0#{$i}.svg") no-repeat center;
            background-size: 100%;
        }
    }
}

@mixin coinTextInput {
    @include flexBox(row);
    @include flexAlign(center, flex-start);
    @include boxSizing;

    position: absolute;
    top: 5vh;
    left: 10vh;
    z-index: 10;
    width: 40vh;
    height: 7vh;
    padding: 1vh 1vh 1vh 6vh;
    background: linear-gradient(#252325, #25212c);
    box-shadow: inset 0 0 4vh 2vh rgba(0, 0, 0, 0.7);

    p {
        font-size: 3vh;
        color: #fff;
    }

    .balance_icon {
        position: absolute;
        top: -2vh;
        left: -5vh;
        width: 10vh;
        height: 10vh;
        z-index: 2;
        background: url("/images/common/balance_icon.png") no-repeat center;
        background-size: contain;
    }

    .balance_border {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-left: 1px solid #cb9e74;
        border-right: 1px solid #cb9e74;

        &:before,
        &:after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 1px;
            background: linear-gradient(to right, #f8d7b9, #c09164, #f8d7b9);
        }

        &:before {
            top: 0;
        }

        &:after {
            bottom: 0;
        }
    }
}
