/* stripe candy */
.progress_page {
    @include flexBox(column);
    @include flexAlign(center, center);

    position: fixed;
    z-index: 9998;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("/images/ScratchCard_BG.jpg") no-repeat top;
    background-size: cover;
}

.progress {
    @include flexBox(row);
    @include flexAlign(center, flex-start);

    position: relative;
    z-index: 5;
    overflow: hidden;
    width: 80vh;
    background: #111;
    border: 1vh solid #282828;
    border-radius: 8vh;
    box-shadow: 0 5px 17px rgba(40, 40, 40, 0.5), 0 0 3px 1px rgba(40, 40, 40, 0.5) inset;

    p.progress_text {
        @include flexBox(row);
        @include flexAlign(center, center);

        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 4vh;
        color: #fff;
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    }

    .progress_bar {
        position: relative;
        z-index: 1;
        overflow: hidden;
        border-radius: 12px;
        width: 0%;
        min-width: 10%;
        height: 8vh;
        border-radius: 8vh;
        transition: all 0.3s linear;
        background-color: #f90;
        box-shadow: 0 0 2vh 1vh rgba(255, 255, 255, 0.4) inset;
        background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.35) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0.35) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
        background-repeat: repeat-x;
        background-size: 8vh 8vh;
        animation: candyStripe 1s linear infinite;
    }
}

.loading {
    @include flexBox(row);
    @include flexAlign(center, center);

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9998;

    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0);
        z-index: -1;
    }

    .loading_rotate {
        @include flexBox(row);
        @include flexAlign(center, center);

        position: absolute;
        width: 140px;
        height: 36px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        padding-left: 10px;
        border-radius: 18px;
        background: linear-gradient(#222 20%, #000);
        box-shadow: inset 0 0 2vh rgba(255, 255, 255, 0.3);

        p {
            font-size: 0.85em;
            color: #fff;
            text-align: center;
        }

        .rotate_obj {
            position: absolute;
            width: 20px;
            height: 20px;
            top: 8px;
            left: 10px;

            &:before {
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                top: 0;
                left: 0;
                background: url("/images/common/icon_animation_rotate_out.svg") no-repeat center;
                animation: rotate_out 1s infinite;
                animation-fill-mode: forwards;

                @include easeInOutQuint(1s);
            }

            &:after {
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                top: 0;
                left: 0;
                background: url("/images/common/icon_animation_rotate_inset.svg") no-repeat center;
                animation: rotate_inset 1s infinite;
                animation-fill-mode: forwards;

                @include easeInOutQuint(1s);
            }
        }
    }
}

@keyframes candyStripe {
    100% {
        background-position: 8vh 0;
    }
}

@keyframes rotate_out {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate_inset {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}
