@import "reset.scss";
@import "commonStyle.scss";
@import "mixin.scss";
@import "progress.scss";
@import "rightPanel.scss";
@import "controller.scss";
@import "popup.scss";
@import "cardMenu.scss";
@import "gameView.scss";
@import "lobby.scss";
@import "result.scss";

@font-face{
    font-family: "BebasNeue";
    src: url("/font/BebasNeueRegular.ttf");
}
@font-face{
    font-family: "BebasNeueBold";
    src: url("/font/BebasNeueBold.ttf");
}
@font-face{
    font-family: "BebasNeueLight";
    src: url("/font/BebasNeueLight.ttf");
}
@font-face{
    font-family: "Ayuthaya";
    src: url("/font/Ayuthaya.ttf");
}

html, body {
    font-family: "Microsoft JhengHei", Helvetica, sans-serif;
    height: 100%;
    touch-action: manipulation; /* disable iOS double touch zoom in */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    @include lg {
        padding: 50% 0;
    }
    @include iPhoneX{
        background-color: #000;
    }
    touch-action: manipulation;
}

#app{
    .touch_reaction {
        position: fixed;
        display: none;
        width: 44px;
        height: 44px;
        margin-top: -22px;
        margin-left: -22px;
        border-radius: 50%;
        background: radial-gradient(rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.42) 90%);
        z-index: 9999;
        opacity: 0;

        &.active {
            animation: touch_reaction 0.3s linear;
        }
    }
}

.countdown {

}

.user_status{
    @include flexBox(column);
    @include boxSizing;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 52vh;
    height: 14vh;
    padding: 0.6vh;
    background: url("/images/game/user_status_bg.png") no-repeat right;
    background-size: cover;
    .balance{
        margin-top: 0.5vh;
        font-size: 2vh;
        color: #fff;
    }
    .username_block{
        @include flexBox(row);
        @include flexAlign(center, flex-start);
        width: 100%;
        height: 6vh;
        padding-left: 10%;
        padding-top: 0.5vh;
        background: url("/images/game/username_bg.png") no-repeat center left;
        background-size: contain;
        p{
            font-size: 2vh;
            color: #fff;
        }
    }
}

.total_bet{
    @include flexBox(row);
    @include flexAlign(center, center);
    position: absolute;
    top: 1vh;
    right: 10vh;
    z-index: 10;
    width: 50vh;
    min-width: 160px;
    max-width: 320px;
    height: 10vh;
    min-height: 30px;
    max-height: 70px;
    border-image-slice: 45 53 47 95 fill; border-image-width: 40px 40px 40px 78px; border-image-outset: 0px 0px 0px 0px; border-image-repeat: stretch stretch;
    border-image-source: url("/images/game/totalbet_bg.png");
    p{
        @include flexBox(row);
        @include flexAlign(center, flex-start);
        width: 74%;
        height: 50%;
        padding-left: 7vh;
        font-size: 2.5vh;
        color: #fff;
        @include xl{
            font-size: 1.2rem;
        }
    }
}


.hilight {
    @include easeInOutExpo(2s);
    @include boxSizing;

    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding: 2vh;
    animation: hilight 2s infinite;
    background-size: 400% 400%;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0) 48%, rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0) 60%);
}

.bet_status{
    position: absolute;
    width: 120vh;
    height: 30vh;
    top: 50%;
    left: 50%;
    z-index: 90;
    transform: translateX(-50%) translateY(-50%);
    &.bet_start{
        background: url("/images/common/start_bet.png") no-repeat center;
        background-size: 100%;
    }
    &.bet_end{
        background: url("/images/common/end_bet.png") no-repeat center;
        background-size: 100%;
    }
}

@mixin tutorAligner {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#portrait_tutor {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    background: #121212;

    @include portrait {
        display: block;
    }


    .aligner {
        @include flexBox(column);
        @include flexAlign(center, center);

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &:before {
            @include tutorAligner;

            z-index: -1;
            background: url("/images/common/popup_bg01.svg") no-repeat center;
            background-size: cover;
        }

        &:after {
            @include tutorAligner;

            background: rgba(0, 0, 0, 0.7);
            box-shadow: inset 0 0 20vh #000;
        }

        p {
            position: relative;
            z-index: 1;
            font-size: 3vh;
            text-align: center;
            line-height: 1.2;
            color: #fff;
        }
    }

    .tutor_phone {
        @include easeInOutQuint(1s);

        position: relative;
        width: 25%;
        height: 25%;
        background: url("/images/common/iphone.svg") no-repeat 50%;
        animation: putHorizontal 3s infinite;
        animation-delay: .5s;
        z-index: 2;
    }
}

@keyframes putHorizontal {
    0% {
        opacity: 0;
        transform: rotate(0deg);
    }

    40% {
        opacity: 1;
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(90deg);
    }

    80% {
        opacity: 1;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    100% {
        opacity: 0;
        transform: rotate(90deg);
    }
}

@keyframes touch_reaction {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }

    60% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.9);
        opacity: 0;
    }
}